{{#each newestItems as |item|}}
  <div class="mobile__container">
    {{#paper-button raised=true primary=true onClick=(action "newVideo" item.order)}}
      Replace {{item.order}}
    {{/paper-button}}
    {{#if item.video}}
      <div class="feed__video">
        {{ivy-videojs fluid=true controls=true play=(action "fullscreen") src=item.video}}
      </div>
    {{/if}}
  </div>
{{/each}}
{{model.length}}
{{sortedModel.length}}
{{#if showNewVideo}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeNewVideo" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      {{video-upload saveVideo=(action "uploadDone") }}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#if canSubmit}}
        {{#paper-button raised=true primary=true onClick=(action "save")}}Submit{{/paper-button}}
        {{else }}
        {{#paper-button disabled=true}}Submit{{/paper-button}}
      {{/if}}
      {{#paper-button warn onClick=(action "closeNewVideo")}}Cancel{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}