{{outlet}}
{{#link-to 'login' class="button"}}
  Click to Login
{{/link-to}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Upload Video</h2>
  {{video-upload saveVideo=(action "saveVideo")}}
  {{progress}}
</div>
<div id="posts" class="col-xs-12">
  {{#each model as |post|}}
    <div class="col-xs-3">
      {{post.id}}
    </div>
    <div class="col-xs-3">
      <video muted="true" controls="true" src="{{post.videoUrl}}" autoplay loop="true">
      Attempting to load video
      </video>
    </div>
  {{/each}}
</div>