{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h3>Social Video</h3>
    {{#if creating}}
    {{else}}
      {{#paper-button onClick=(action "toggleThread")}}
        Create a Thread
      {{/paper-button}}
    {{/if}}
    <span class="flex"></span>
  {{/toolbar.tools}}
{{/paper-toolbar}}
{{#if creating}}
  {{create-thread createThread=(action "saveThread") cancelThread=(action "toggleThread")}}
{{/if}}
<div id="feed" class="feed">
  {{#each model as |thread|}}
    <div class="thread">
      <h2>{{thread.title}}</h2>
      {{#if thread.link}}
        <a href={{thread.link}}>{{thread.link}}</a>
      {{/if}}
      <video muted loop controls src={{thread.video}} ></video>
    </div>
  {{/each}}
</div>